{{define "_footer"}}
    <br/>
    <br/>
    <br/>
    <br/>
  <div class="container-fluid themed-container">
                  +1 (424) 210-7829
                  <br/>
                  &copy; 2022 wolfschedule.com
                  <br/>
                  oneone at gmail.com
  </div>
</main>


    
  </body>
</html>
{{end}}
