{{template "_header" .}}

<body class="py-4">
    
<main>
  <div class="container">

    <h1>wolfschedule</h1>
    <p class="lead">A modern calendar for an ancient system.</p>

    <ul class="menu">
            <li><a href="/">Today</a></li>
            <li><a href="/fortnight">Fortnight</a></li>
            <li><a href="/month">Month</a></li>
            <li><a href="/year">Year</a></li>
    </ul>

    <br/>

              {{.body}}

{{template "_footer" .}}
