<form method="POST" action="/tz" id="tz">
<select name="tz" onchange="document.getElementById('tz').submit();">
{{$zone := .Zone}}
{{range $z := .Zones}}

  {{if eq $zone $z}}
    <option selected="true">{{$z}}</option>
  {{else}}
    <option>{{$z}}</option>
  {{end}}

{{end}}
</select>
</form>
