<form>
<select name="tz">
{{$zone := .Zone}}
{{range $z := .Zones}}

  {{if eq $zone $z}}
    <option selected="true">{{$z}}</option>
  {{else}}
    <option>{{$z}}</option>
  {{end}}

{{end}}
</select>
</form>
