<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>stake.list</title>

    <link href="bootstrap.min.css" rel="stylesheet">

     <link rel="shortcut icon" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/favicon.ico">



                <link rel="icon" type="image/png" sizes="16x16" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/favicon-16x16.png">



                <link rel="icon" type="image/png" sizes="32x32" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/favicon-32x32.png">



                <link rel="apple-touch-icon" sizes="57x57" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/apple-touch-icon-57x57.png">



                <link rel="apple-touch-icon" sizes="60x60" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/apple-touch-icon-60x60.png">



                <link rel="apple-touch-icon" sizes="72x72" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/apple-touch-icon-72x72.png">



                <link rel="apple-touch-icon" sizes="76x76" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/apple-touch-icon-76x76.png">



                <link rel="apple-touch-icon" sizes="114x114" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/apple-touch-icon-114x114.png">



                <link rel="apple-touch-icon" sizes="120x120" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/apple-touch-icon-120x120.png">



                <link rel="apple-touch-icon" sizes="144x144" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/apple-touch-icon-144x144.png">



                <link rel="apple-touch-icon" sizes="152x152" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/apple-touch-icon-152x152.png">



                <link rel="apple-touch-icon" sizes="167x167" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/apple-touch-icon-167x167.png">



                <link rel="apple-touch-icon" sizes="180x180" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/apple-touch-icon-180x180.png">



                <link rel="apple-touch-icon" sizes="1024x1024" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/apple-touch-icon-1024x1024.png">




    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <link href="https://getbootstrap.com/docs/4.3/examples/cover/cover.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">stake.list</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
          <h1 class="cover-heading">The Stake List</h1>
    <p class="lead">
    We list interesting proof-of-stake assets that pay you
    interest.
    They reduce proof-of-work electricity waste by helping the world
    to find _the_ BTC / ETH replacement(s).
    </p>
    <p>
    </p>
    <br/>
<style>
table tr td {background-color: grey; text-align: left; padding: 0 10px 0px 0; 
border-top: 1px solid #989898;}
table tr.red td {background-color: green; text-align: left; padding: 0 10px 0px 0; 
border-top: 1px solid #989898;}
table tr.yellow td {background-color: #0099AA; 
text-align: left; padding: 0 10px 0px 0; 
border-top: 1px solid #989898;}
table tr.up td {background-color: #990000; 
text-align: left; padding: 0 10px 0px 0; 
border-top: 1px solid #989898;}
</style>
    <table>
            <tr>
                    <td></td>
                    <td></td>
                    <td>TICKER</td>
                    <td>CAP</td>
                    <td>PAIRS</td>
                    <td><a target="_blank" href="https://coinbase.com/?from=wolfschedule.com">COINBASE</a></td>
                    <td><a target="_blank" href="https://kraken.com/?from=wolfschedule.com">KRAKEN</a></td>
                    <td><a target="_blank" href="https://binance.us/?from=wolfschedule.com">BINANCE.US</a></td>
                    <td><a href="https://wolfschedule.com/assets/">OWN</a></td>
            </tr>




<tr>
<td>Bitcoin</td><td>2013</td> <td>BTC</td> <td>{{ index .Caps "BTC" }}</td> <td>9544      </td> <td>0.0</td> <td>0.0</td> <td>0.0</td> <td>0.0</td>
</tr>
<tr>
<td>Ethereum</td><td>2015</td> <td>ETH</td> <td>{{ index .Caps "ETH" }}</td> <td>5541      </td> <td>0.0</td> <td>!!!</td> <td>0.0</td> <td>0.0</td>
</tr>
<tr>
<td>Binance</td><td>2017</td> <td>BNB</td> <td>{{ index .Caps "BNB" }}</td> <td>595       </td> <td>0.0</td> <td>0.0</td> <td>0.0</td> <td>0.0</td>
</tr>
<tr class="red">
<td>Cardano</td><td>2017</td> <td>ADA</td> <td>{{ index .Caps "ADA" }}</td> <td>261       </td> <td>0.0</td> <td>6.0%</td> <td>0.0</td> <td>~50.0%</td>
</tr>
<tr>
<td>Dogecoin</td><td>2013</td> <td>DOGE</td> <td>{{ index .Caps "DOGE" }}</td> <td>360       </td> <td>0.0</td> <td>0.0</td> <td>0.0</td> <td>0.0</td>
</tr>
<tr class="yellow">
<td>Polkadot</td><td>2020</td> <td>DOT</td> <td>{{ index .Caps "DOT" }}</td> <td>195       </td> <td>0.0</td> <td>12.0%</td> <td>0.0</td> <td>0.0</td>
</tr>
<tr>
<td>Stellar</td><td>2014</td> <td>XLM</td> <td>{{ index .Caps "XLM" }}</td> <td>341       </td> <td>0.0</td> <td>0.0</td> <td>0.0</td> <td>0.0</td>
</tr>
<tr>
<td>VeChain</td><td>2017</td> <td>VET</td> <td>{{ index .Caps "VET" }}</td> <td>126       </td> <td>0.0</td> <td>0.0</td> <td>2.0%</td> <td>0.0</td>
</tr>
<tr>
<td>Terra</td><td>2019</td> <td>LUNA</td> <td>{{ index .Caps "LUNA" }}</td> <td>59        </td> <td>0.0</td> <td>0.0</td> <td>0.0</td> <td>0.0</td>
</tr>
<tr class="yellow">
<td>Cosmos</td><td>2019</td> <td>ATOM</td> <td>{{ index .Caps "ATOM" }}</td> <td>171       </td> <td>4.0%</td> <td>7.0%</td> <td>9.0%</td> <td>0.0</td>
</tr>
<tr class="yellow">
<td>Tezos</td><td>2017</td> <td>XTZ</td> <td>{{ index .Caps "XTZ" }}</td> <td>165       </td> <td>5.0%</td> <td>5.5%</td> <td>7.0%</td> <td>0.0</td>
</tr>
<tr>
<td>IOTA</td><td>2017</td> <td>MIOTA</td> <td>{{ index .Caps "MIOTA" }}</td> <td>65        </td> <td>0.0</td> <td>0.0</td> <td>0.0</td> <td>0.0</td>
</tr>
<tr class="up">
<td>Kusama</td><td>2019</td> <td>KSM</td> <td>{{ index .Caps "KSM" }}</td> <td>70        </td> <td>0.0</td> <td>12.0%</td> <td>0.0</td> <td>0.0</td>
</tr>
<tr>
<td>Avalanche</td><td>2020</td> <td>AVAX</td> <td>{{ index .Caps "AVAX" }}</td> <td>        </td> <td>0.0</td> <td>0.0</td> <td>0.0</td> <td>0.0</td>
</tr>
<tr class="red">
<td>Algorand</td><td>2019</td> <td>ALGO</td> <td>{{ index .Caps "ALGO" }}</td> <td>133       </td> <td>6.0%</td> <td>0.0</td> <td>10.0%</td> <td>0.0</td>
</tr>
<tr>
<td>Elrond</td><td>2020</td> <td>EGLD</td> <td>{{ index .Caps "EGLD" }}</td> <td>39        </td> <td>0.0</td> <td>0.0</td> <td>0.0</td> <td>0.0</td>
</tr>
<tr>
<td>Qtum</td><td>2017</td> <td>QTUM</td> <td>{{ index .Caps "QTUM" }}</td> <td>192       </td> <td>0.0</td> <td>0.0</td> <td>2.0%</td> <td>0.0</td>
</tr>
<tr>
<td>Nano</td><td>2017</td> <td>NANO</td> <td>{{ index .Caps "NANO" }}</td> <td>55        </td> <td>0.0</td> <td>0.0</td> <td>0.0</td> <td>0.0</td>
</tr>
<tr>
<td>Harmony</td><td>2019</td> <td>ONE</td> <td>{{ index .Caps "ONE" }}</td> <td>34        </td> <td>0.0</td> <td>0.0</td> <td>2.0%</td> <td>0.0</td>
</tr>
<tr>
<td>Celo</td><td>2020</td> <td>CELO</td> <td>{{ index .Caps "CELO" }}</td> <td>32        </td> <td>0.0</td> <td>0.0</td> <td>0.0</td> <td>0.0</td>
</tr>
<tr class="up">
<td>Kava.io</td><td>2019</td> <td>KAVA</td> <td>{{ index .Caps "KAVA" }}</td> <td>51        </td> <td>0.0</td> <td>20.0%</td> <td>0.0</td> <td>0.0</td>
</tr>




    </table>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div>

  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p><a href="https://twitter.com/andrewarrow">@andrewarrow</a></p>
    </div>
  </footer>
</div>
</body>
</html>
