<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>stake.list</title>

    <link href="bootstrap.min.css" rel="stylesheet">

     <link rel="shortcut icon" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/favicon.ico">



                <link rel="icon" type="image/png" sizes="16x16" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/favicon-16x16.png">



                <link rel="icon" type="image/png" sizes="32x32" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/favicon-32x32.png">



                <link rel="apple-touch-icon" sizes="57x57" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/apple-touch-icon-57x57.png">



                <link rel="apple-touch-icon" sizes="60x60" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/apple-touch-icon-60x60.png">



                <link rel="apple-touch-icon" sizes="72x72" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/apple-touch-icon-72x72.png">



                <link rel="apple-touch-icon" sizes="76x76" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/apple-touch-icon-76x76.png">



                <link rel="apple-touch-icon" sizes="114x114" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/apple-touch-icon-114x114.png">



                <link rel="apple-touch-icon" sizes="120x120" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/apple-touch-icon-120x120.png">



                <link rel="apple-touch-icon" sizes="144x144" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/apple-touch-icon-144x144.png">



                <link rel="apple-touch-icon" sizes="152x152" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/apple-touch-icon-152x152.png">



                <link rel="apple-touch-icon" sizes="167x167" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/apple-touch-icon-167x167.png">



                <link rel="apple-touch-icon" sizes="180x180" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/apple-touch-icon-180x180.png">



                <link rel="apple-touch-icon" sizes="1024x1024" href="https://bucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com/public/images/7f75e346-695f-4ec7-bca2-d08fdef28ad6/apple-touch-icon-1024x1024.png">




    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <link href="https://getbootstrap.com/docs/4.3/examples/cover/cover.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">stake.list</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
          <h1 class="cover-heading">The Stake List</h1>
    <p class="lead">
    We list interesting assets.
    </p>
    <p>
    </p>
    <br/>
<style>
table tr td {background-color: grey; text-align: left; padding: 0 10px 0px 0; 
border-top: 1px solid #989898;}
table tr.red td {background-color: green; text-align: left; padding: 0 10px 0px 0; 
border-top: 1px solid #989898;}
table tr.yellow td {background-color: #0099AA; 
text-align: left; padding: 0 10px 0px 0; 
border-top: 1px solid #989898;}
table tr.up td {background-color: #990000; 
text-align: left; padding: 0 10px 0px 0; 
border-top: 1px solid #989898;}
</style>
    <table>
            <tr>
                    <td></td>
                    <td></td>
                    <td>TICKER</td>
                    <td>CAP</td>
                    <td>VOL24</td>
                    <td>C1</td>
                    <td><a target="_blank" href="https://coinbase.com/?from=wolfschedule.com">COINBASE</a></td>
                    <td><a target="_blank" href="https://kraken.com/?from=wolfschedule.com">KRAKEN</a></td>
                    <td><a target="_blank" href="https://binance.us/?from=wolfschedule.com">BINANCE.US</a></td>
            </tr>




        {{range $e := .Things}}
<tr>
                <td>{{$e.Name}}</td><td>{{$e.DateAdded}}</td> <td>{{$e.Symbol}}</td> 
                <td>caps</td> 
                <td>{{$e.Volume24}}</td> 
                <td>{{$e.Change1}}</td> 
                <td>0.0</td> <td>0.0</td> <td>0.0</td>
</tr>
        {{end}}




    </table>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div>

  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p><a href="https://twitter.com/andrewarrow">@andrewarrow</a></p>
    </div>
  </footer>
</div>
</body>
</html>
